.main{
    width: 300px;
    height: 450px;
    
    margin:120px auto;
    background-color: #F99898;
}
.inside{
    width: 280px;
    height: 360px;
    border-radius: 7px;
    background-color: white;
    padding: 30px;
}
body{
    height: 100vh;
    background: #F99898;
}
h1{
    text-align: center;
    margin-: 50px;
    font-family: Arial, Helvetica, sans-serif;
    
}
p{
    text-align: center;
    margin-top:30px ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.pink{
    color: #F99898;
    font-size: larger;
    
}
